body
{
    margin:0;
    height: 99vh;
    width: 100vw;
}
.text
{
    display:flex;
    position:absolute;
    top:20%; 
    left:30%;
    right:30%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

    pointer-events: none;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}
p
{
    margin:15px
}
button
{
    pointer-events: all;
    font-size: 20px;
}
.pop
{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px;
    height: 40%;

    position: absolute;
    top:20%;
    left:30%;
    right:30%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

    pointer-events: none;
    opacity: 0;
}
.poppato
{
    pointer-events: all;
    opacity: 1;
}

@media(max-width:500px)
{
    .text
    {
        display:flex;
        position:absolute;
        top:20%; 
        left:30%;
        right:30%;

        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;

        pointer-events: none;

        justify-content: center;
        align-items: center;

        flex-direction: column;
    }
    button
    {
        pointer-events: all;
        font-size: 14px;
    }
}
